<div class="column col-9 col-md-12">
  <table class="table table-striped table-hover">
    <thead>
      <th>Theme</th>
      <th>Suggested By</th>
      <th>Suggestion Date</th>
      <th>Doddle Date</th>
    </thead>
    <tbody>
      <tr *ngFor="let prompt of bearPrompts; let ii = index"
          (click)="setActivePrompt(prompt, ii)">
          <td> {{ prompt.Theme }} </td>
          <td> {{ prompt.SuggestedBy }} </td>
          <td> {{ prompt.SuggestionDate }} </td>
          <td> {{ prompt.DoddleDate }} </td>
      </tr>
    </tbody>
  </table>
</div>