<div class="list row">
    <div class="col-md-6">
      <h4>Bear Prompts List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let prompt of bearPrompts; let i = index"
          [class.active]="i == currIndex"
          (click)="setActivePrompt(prompt, i)"
        >
          {{ prompt.Theme }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPrompts()">
        Remove All
      </button>
    </div>
  
    <div class="col-md-6">
      <div *ngIf="currPrompt">
        <app-details-prompt
          (refreshList)="refreshList()"
          [prompt]="currPrompt"
        ></app-details-prompt>
      </div>
  
      <div *ngIf="!currPrompt">
        <br />
        <p>Please select a prompt!</p>
      </div>
    </div>
  </div>
  