<div *ngIf="!submitted" class="column col-6 col-sm-12">
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-3 col-sm-12">
        <label class="form-label" for="Theme">Theme</label>
      </div>
      <div class="col-6 col-sm-12">
        <input class="form-input" 
               type="text" 
               id="Theme" 
               placeholder="Theme"
               name="Theme"
               [(ngModel)]="currBearPrompt.Theme">
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-sm-12">
        <label class="form-label" for="SuggestedBy">Suggested By</label>
      </div>
      <div class="col-6 col-sm-12">
        <input class="form-input" 
               type="text" 
               id="SuggestedBy" 
               placeholder="Suggested By"
               name="SuggestedBy"
               [(ngModel)]="currBearPrompt.SuggestedBy">
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-3 col-sm-12">
        <label class="form-label" for="SuggestionDate">Suggestion Date</label>
      </div>
      <div class="col-6 col-sm-12">
        <input class="form-input" 
               type="date" 
               id="SuggestionDate" 
               placeholder="Suggestion Date"
               name="SuggestionDate"
               [(ngModel)]="currBearPrompt.SuggestionDate">
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-3 col-sm-12">
        <label class="form-label" for="DoddleDate">Doddle Date</label>
      </div>
      <div class="col-6 col-sm-12">
        <input class="form-input" 
               type="date" 
               id="DoddleDate" 
               placeholder="Doddle Date"
               name="DoddleDate"
               [(ngModel)]="currBearPrompt.DoddleDate">
      </div>
    </div>

    <button (click)="savePrompt()" class="btn btn-success">Submit</button>
  </form>
</div>
<div *ngIf="submitted">
  <h4>New prompt added!</h4>
  <button class="btn btn-success" (click)="resetPrompt()">Add Another</button>
</div>
<div *ngIf="errorMsg">
  <h4> Careful! </h4>
  <h5> {{ errorMsg }} </h5>
</div>