<div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="Theme">Theme</label>
        <input
          type="text"
          class="form-control"
          id="Theme"
          required
          [(ngModel)]="currBearPrompt.Theme"
          name="Theme"
        />
      </div>
  
      <div class="form-group">
        <label for="SuggestedBy">SuggestedBy</label>
        <input
          class="form-control"
          id="SuggestedBy"
          required
          [(ngModel)]="currBearPrompt.SuggestedBy"
          name="SuggestedBy"
        />
      </div>
  
      <div class="form-group">
        <label for="SuggestionDate">SuggestionDate</label>
        <input
          class="form-control"
          id="SuggestionDate"
          required
          [(ngModel)]="currBearPrompt.SuggestionDate"
          name="SuggestionDate"
        />
      </div>
  
      <div class="form-group">
        <label for="DoddleDate">DoddleDate</label>
        <input
          class="form-control"
          id="DoddleDate"
          required
          [(ngModel)]="currBearPrompt.DoddleDate"
          name="DoddleDate"
        />
      </div>
  
      <button (click)="savePrompt()" class="btn btn-success">Submit</button>
    </div>
  
    <div *ngIf="submitted">
      <h4>Submit successful.</h4>
      <button class="btn btn-success" (click)="resetPrompt()">Add</button>
    </div>
  </div>
  