<div *ngIf="currentPrompt" class="edit-form">
    <h4>Bear Prompt</h4>
    <form>
      <div class="form-group">
        <label for="Theme">Theme</label>
        <input
          type="text"
          class="form-control"
          id="Theme"
          [(ngModel)]="currentPrompt.Theme"
          name="Theme"
        />
      </div>

      <div class="form-group">
        <label for="SuggestedBy">SuggestedBy</label>
        <input
          type="text"
          class="form-control"
          id="SuggestedBy"
          [(ngModel)]="currentPrompt.SuggestedBy"
          name="SuggestedBy"
        />
      </div>

      <div class="form-group">
        <label for="SuggestionDate">SuggestionDate</label>
        <input
          type="text"
          class="form-control"
          id="SuggestionDate"
          [(ngModel)]="currentPrompt.SuggestionDate"
          name="SuggestionDate"
        />
      </div>

      <div class="form-group">
        <label for="DoddleDate">DoddleDate</label>
        <input
          type="text"
          class="form-control"
          id="DoddleDate"
          [(ngModel)]="currentPrompt.DoddleDate"
          name="DoddleDate"
        />
      </div>
    </form>
    
    <button class="badge badge-danger mr-2">
      Delete
    </button>
  
    <button type="submit" class="badge badge-success">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  
  <div *ngIf="!currentPrompt">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
  